<!DOCTYPE html>
<html lang = "en">

{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<head>
  
  <title>MyScrumy</title>
  <meta charset = "UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'myscrumy/css/sc.css' %}">
</head>

<body>
  
  <h3>linuxjobber</h3>




<p>Confirm Delete</p>

<form method="post" action="">
	{% csrf_token %}
	<input type="radio" name="delete" value="yes">Yes<br>
    <input type="radio" name="delete" value="no">No<br>
	<input type="submit" name="submit" value="submit">
</form>



</body>


</html>