<!DOCTYPE html>
<html lang = "en">

{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<head>
  
  <title>MyScrumy</title>
  <meta charset = "UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'myscrumy/css/sc.css' %}">
</head>

<body>
  
  <h3>linuxjobber</h3>




{% block content %}

{% if form.errors %}
	<p>Your username and password didn't match please try again </p>
{% endif %}

{% if next %}
	{% if user.is_authenticated %}
		<p>Your account doesn't have access to this page. Please login with an accounnt that has access.</p>
	{% else %}
		<p>Please login to see this page.</p>
	{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<div>
		<td>{{ form.username.label_tag }}</td>
		<td>{{ form.username }}</td>
	</div>
	<div>
		<td>{{ form.password.label_tag }}</td>
		<td>{{ form.password }}</td>
	</div>

	<div>
		<input type="submit" value="login">
		<input type="hidden" name="next" value="{{ next }}">
	</div>

</form>

{% endblock %}



</body>

</html>